<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/"><img src="assets/images/logo2.JPG" alt=""></a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <div class="icons">
          <!--Linkedin-->
          <a type="button" mdbBtn floating="true" size="lg" class=" btn-li waves-light" target="_blank" href="https://www.linkedin.com/in/cristina-zhang/"><i class="fa fa-linkedin text-white"></i></a>
          <a type="button" mdbBtn floating="true" size="lg" class=" btn-git waves-light" target="_blank" href="https://github.com/rami0141"><i class="fa fa-github text-white"></i></a>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" routerLink="/" mdbWavesEffect>ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/portfolio" mdbWavesEffect>PORTFOLIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>VIDEOS</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>RESUME</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/contact" mdbWavesEffect>CONTACT</a>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
