<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <img src="assets/images/me.JPG" class="img-responsive float-left mr-3 mb-3" alt="Cristina Zhang">
    <!-- </div>
    <div class="col-7"> -->
      <p class="mt-4">Welcome to my Portfolio!</p>
      <p> My name is Cristina Zhang and I am a Front End Web Developer in Minnesota. I am a highly motivated and skilled Web Developer capable of building fully functioning and appealing websites. I enjoy every aspect of coding and believe that writing clean and efficient code is priority. I excel at HTML5, CSS3, Bootstrap, Media Queries and JavaScript. I can work with Angular, APIs, jQuery, Node.js, Express, MySQL, Sequelize, MongoDB and more.</p>
      <p>Please take a look at my work and reach out to me with comments and questions. Want to work together?</p>
    </div>
  </div>
  <div class="row mt-5 details mb-5">
    <div class="col-6 text-center mt-5">
      <i class="fa fa-graduation-cap fa-3x mb-2" aria-hidden="true"></i>
        <h4><strong>Education</strong></h4>
        <h6>University of Minnesota</h6>
        <p>Full Stack Development Certificate <br> May 2018</p>
    </div>
    <div class="col-6 text-center mt-5">
      <i class="fa fa-laptop fa-3x mb-2" aria-hidden="true"></i>
      <h4><strong>Technical Skills</strong></h4>
      <p>HTML, CSS, BOOTSTRAP <br>MEDIA QUERIES, JQUERY, JAVASCRIPT <br> ANGULAR, REST APIs, NODE.JS <br> EXPRESS, MySQL, MongoDB </p>
    </div>
  </div>
</div>
