<div class="container mt-1">
  <div class="row mb-5">
    <!-- <div class="col-6"> -->
      <!--Section description-->
          <!--Form with header-->
        <div class="float-left">
          <mdb-card>
            <mdb-card-body>
              <!--Header-->
              <div class="form-header text-center">
                <h3>Write A Message:</h3>
              </div>

              <!--Body-->
              <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input mdbInputDirective type="text" id="form3" class="form-control">
                <label for="form3">Your name</label>
              </div>

              <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input mdbInputDirective type="text" id="form2" class="form-control">
                <label for="form2">Your email</label>
              </div>

              <div class="md-form">
                <i class="fa fa-tag prefix"></i>
                <input mdbInputDirective type="text" id="form32" class="form-control">
                <label for="form34">Subject</label>
              </div>

              <div class="md-form">
                <i class="fa fa-pencil prefix"></i>
                <textarea mdbInputDirective type="text" id="form8" class="md-textarea"></textarea>
                <label for="form8">Message</label>
              </div>

              <div class="text-center">
                <button mdbBtn color="light-blue" class="waves-light" mdbWavesEffect>Submit</button>
              </div>
            </mdb-card-body>
          </mdb-card>

        </div>
        <div class="float-right">
          <mdb-card class="text-center">
            <mdb-card-body>
              <div mdbBtn floating="true" color="white" class="accent-1 waves-light mt-4" mdbWavesEffect>
                <i class="fa fa-map-marker"></i>
              </div>
              <p>Minneapolis, MN</p>
              <p>United States</p>

                <div mdbBtn floating="true" color="white" class="accent-1 waves-light mt-4" mdbWavesEffect>
                  <i class="fa fa-envelope"></i>
                </div>
                <p>czhang0141@gmail.com</p>

                <a mdbBtn floating="true" color="white" class="accent-1 waves-light mt-4" href="https://files.acrobat.com/a/preview/4b55f096-e3a8-48b5-a2ca-d5a46c2fe5e6" target="_blank" mdbWavesEffect>
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <p>Resume</p>
                </a>
                <hr>

                <div class="icons mt-4 mb-4">
                  <!--Linkedin-->
                  <a type="button" mdbBtn floating="true" color="white" class=" btn-li waves-light pr-5" target="_blank" href="https://www.linkedin.com/in/cristina-zhang/"><i class="fa fa-linkedin"></i></a>
                  <a type="button" mdbBtn floating="true" color="white" class=" btn-git waves-light" target="_blank" href="https://github.com/rami0141"><i class="fa fa-github"></i></a>
                </div>
            </mdb-card-body>
          </mdb-card>
        </div>
      </div>
    </div>
