<div class="container mt-2">
  <div class="row mt-2">
    <div class="col-12">

      <!--Projects section v.1-->
      <section>
        <!--Grid row-->
        <div class="row text-center">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
              <img src="assets/images/JTY.JPG" class="img-fluid" alt="Sample project image">
              <a href="https://github.com/rami0141/JTY" target="_blank">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Excerpt-->
            <mdb-card-body class="mt-3">
              <h4>
                <strong>Freelance Front End Developer</strong>
              </h4>
              <p class="grey-text">FullTang Photography is a a mobile responsive portfolio intended to showcase the photographers
                work. The website consists of a home, about, contact and a portfolio
                page.
              </p>
              <a mdbBtn color="indigo" size="md" class="waves-light" href="https://github.com/rami0141/JTY" target="_blank" mdbWavesEffect>
                <i class="fa fa-github left"></i>See Code</a>
                <button type="button" mdbBtn color="default" class="waves-light"
                size="md"
                  mdbPopover="Bootstrap, Angular, TypeScript, Nodemailer"
                  placement="top"
                  mdbPopoverHeader="Technology Used:" mdbWavesEffect>
                  Technology
                </button>
            </mdb-card-body>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
              <img src="assets/images/munozmotors.PNG" class="img-fluid" alt="Sample project image">
              <a href="http://munozmotors.com/" target="_blank">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Excerpt-->
            <mdb-card-body class="mt-3">
              <h4>
                <strong>Freelance Web Developer</strong>
              </h4>
              <p class="grey-text">Munoz Motors is a mobile responsive full stack CRUD application, for a used car business, where a user can see the dealers inventory and contact information.
              </p>
              <a mdbBtn color="indigo" size="md" class="waves-light" mdbWavesEffect>
                <i class="fa fa-github left"></i>See Code</a>
                <button type="button" mdbBtn color="default" class="waves-light"
                size="md"
                  mdbPopover="Bootstrap, JavaScript, jQuery, Node.js, Express, MySQL, Sequelize, Passport.js, Multer, NHTSA Vehicle API"
                  placement="top"
                  mdbPopoverHeader="Technology Used:" mdbWavesEffect>
                  Technology
                </button>
            </mdb-card-body>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
              <img src="assets/images/GoldBlog].JPG" class="img-fluid" alt="GoldBlog">
              <a href="http://www.cristina-zhang.com/golden/" target="_blank">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--Excerpt-->
            <mdb-card-body class="mt-3">
              <h4>
                <strong>Web Developer</strong>
              </h4>
              <p class="grey-text">With Gold-Blog you can read popular blogs, search blogs by topic and post.
              </p>
              <p>Under Construction</p>
              <a mdbBtn color="indigo" size="md" class="waves-light" href="https://github.com/rami0141/GoldenBlogger" target="_blank" mdbWavesEffect>
                <i class="fa fa-github left"></i>See Code</a>
                <button type="button" mdbBtn color="default" class="waves-light"
                size="md"
                  mdbPopover="Bootstrap, Angular, Node.js, Express, Body-Parser, MongoDB, Mongoose"
                  placement="top"
                  mdbPopoverHeader="Technology Used:" mdbWavesEffect>
                  Technology
                </button>
            </mdb-card-body>
          </div>

          <!--Grid row-->
          <div class="row text-center mt-5 ml-1 mr-1">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
              <!--Featured image-->
              <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                <img src="assets/images/hairoverflowers.PNG" class="img-fluid" alt="Sample project image">
                <a href="http://hairoverflowers.com/" target="_blank">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Excerpt-->
              <mdb-card-body class="mt-3">
                <h4>
                  <strong>Back End Developer</strong>
                </h4>
                <p class="grey-text">Hair Over Flowers is a hair salon appointment setter application.
                </p>
                <a mdbBtn color="indigo" size="md" class="waves-light" href="https://github.com/rami0141/hair-over-flowers" target="_blank" mdbWavesEffect>
                  <i class="fa fa-github left"></i>See Code</a>
                  <button type="button" mdbBtn color="default" class="waves-light"
                  size="md"
                    mdbPopover="Bootstrap, Node.js, Express, Body-Parser, Dotenv, Sequelize, Passport.js, Nodemailer, CLNDR.js"
                    placement="top"
                    mdbPopoverHeader="Technology Used:" mdbWavesEffect>
                    Technology
                  </button>
              </mdb-card-body>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
              <!--Featured image-->
              <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                <img src="assets/images/fabulist.JPG" class="img-fluid" alt="Sample project image">
                <a href="https://fabulist.herokuapp.com/" target="_blank">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Excerpt-->
              <mdb-card-body class="mt-3">
                <h4>
                  <strong>Front End Developer</strong>
                </h4>
                <p class="grey-text">Fabulist is a collaborative storytelling game were participants take turns writing paragraphs of a story.
                </p>
                <a mdbBtn color="indigo" size="md" class="waves-light" href="https://github.com/rami0141/Fabulist"  target="_blank" mdbWavesEffect>
                  <i class="fa fa-github left"></i>See Code</a>
                  <button type="button" mdbBtn color="default" class="waves-light"
                  size="md"
                    mdbPopover="Bootstrap, JavaScript, jQuery, Node.js, Express, MySQL, Sequelize"
                    placement="top"
                    mdbPopoverHeader="Technology Used:" mdbWavesEffect>
                    Technology
                  </button>
              </mdb-card-body>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">
              <!--Featured image-->
              <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
                <img src="assets/images/TravelBuddy.png" class="img-fluid" alt="GoldBlog">
                <a href="https://rami0141.github.io/TravelBuddy/" target="_blank">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Excerpt-->
              <mdb-card-body class="mt-3">
                <h4>
                  <strong>Front End Developer</strong>
                </h4>
                <p class="grey-text">TravelBuddy acts as a personal assistant for someone going on a trip.
                </p>
                <p>Under Construction</p>
                <a mdbBtn color="indigo" size="md" class="waves-light" href="https://github.com/rami0141/TravelBuddy" target="_blank" mdbWavesEffect>
                  <i class="fa fa-github left"></i>See Code</a>
                  <button type="button" mdbBtn color="default" class="waves-light"
                  size="md"
                    mdbPopover="Bootstrap,JavaScript, jQuery, Firebase, Google Maps API, OpenWeatherMaps API"
                    placement="top"
                    mdbPopoverHeader="Technology Used:" mdbWavesEffect>
                    Technology
                  </button>
              </mdb-card-body>
            </div>
          </div><!--Grid column-->
        </div><!--Grid row-->
      </section><!--/Projects section v.1-->
    </div>
  </div>
</div>
